body {
    display: flex;
    justify-content: center;
    font-size: 32px;
}

.container {
    display: grid;
    border: 1rem solid red;
    height: 25em;
    width: 25em;
    /* grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr); */
}

/* .grid-item {
    border: 0.1rem solid blue;
} */